<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="__INDEX__/js/jquery-1.11.0.js"></script>
		<link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css" />
		<script type="text/javascript" src="__INDEX__/js/bootstrap.min.js"></script>
	</head>

	<body>

		<div class="container">
			<!--导航栏-->
			{include file="public/header"}
			<!--图片展示-->
			<div class="row">
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#" class="thumbnail">
						<img src="__INDEX__/img/350x150.png" class="img-responsive">
					</a>
				</div>
			</div>
			<nav style="text-align: center">
				<ul class="pagination">
					<li><a href="#">&laquo;</a></li>
					<li class="active"><a href="#">1</a></li>
					<li class="disabled"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>
				
			</nav>
			<!--底部-->
			{include file="public/footer"}
		</div>
	</body>

</html>