<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{:url('/index/index')}">图床Bata</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{:url('/index/index')}">首页</a>
                </li>
                <li>
                    <a href="{:url('/index/uploads')}">上传</a>
                </li>
                <li>
                    <a href="{:url('/index/user/register')}">注册</a>
                </li>
                <li>
                    <a href="{:url('/index/user/login')}">登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>